@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'pokemon_gbregular';
  src: url('pokemongb-raeo-webfont.woff2') format('woff2'),
    url('pokemongb-raeo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Ubuntu', sans-serif;
}
