:root {
  --NavDex: #de3d2b;
  --OffWhite: #fbfbfb;
  --OffBlack: #2c2c2c;
  --bug: #aaba19;
  --dark: #50392c;
  --dragon: #775fe3;
  --electric: #fdb913;
  --fairy: #f4aff4;
  --fighting: #80321d;
  --fire: #ee410e;
  --flying: #98a9f6;
  --ghost: #605fb3;
  --grass: #71c134;
  --ground: #d3b253;
  --ice: #aae8fe;
  --normal: #c7c1b9;
  --poison: #944593;
  --psychic: #ec4680;
  --rock: #b8a156;
  --steel: #b5b5c5;
  --water: #3395f7;
}
